.header {
    height: 70px;
    /* background: #2c3e50; */
  }
  
  .header .img {
    position: absolute;
    top: 60px;
    left: 5%; 
    cursor: pointer;
  }

  .img .title {
    font-size: 1.3rem;
    font-family: 'Merriweather', serif;
    font-weight: 500;
  }
  
  .header nav ul {
    float: right; 
  }
  
  .header nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
  }
  
  .header nav ul li a {
    position: relative;
    font-size: 0.9rem;
    padding: 5px 0;
    text-transform: uppercase;
  }
  
  .header nav ul li a::before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    /* background: #e27108; */
    background: #ad0244;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
  }
  
  .header nav ul li a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }

 .active {
   color: #ad0244;
 }

  .header .signInBtn {
      /* margin-left: 300px; */
  }
  
  .header .checkBtn {
    color: #000000;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  .header .closeBtn {
    color: #000000;
    font-size: 30px;
    float: right;
    line-height: 80px;
    cursor: pointer;
    margin-right: 40px;
    display: none;
  }
  
  .header input[type="checkbox"]{
    display: none;
  }
  
  @media(max-width:1118px) {
    .header .img {
      left: 8%;
    }
    .header .signInBtn {
      margin-left: 0;
  }
  }
  
  @media(max-width:944px) {
    .header .img {
      left: 6%;
      top:50px;
      width:130px;
    }
    .header .signInBtn {
      margin-left: 0;
  }
  }
  
  @media(max-width:860px) {
    .header .checkBtn{
      display:block;
    }
  
    .header .closeBtn{
      display:block;
    }

    .header ul {
      position: fixed;
      width:100%;
      height: 100vh;
      background: rgb(238, 236, 236);
      top:100px;
      left:-100%; 
      text-align: center;
      transition: all .5s;
     }
  
     .header nav ul li {
       display: block;
       margin: 50px 0;
       line-height: 10px;
     }

     .header .signInBtn {
        margin-left: 0px;
    }
    .header nav ul li a {
      font-size: 1rem;
    }
  
    .header .checked {
      left: 0
    }
  
  }