.jumbotron {
  width: 100%;
  background-image: url('/images/watches/analog_watch/jumbotron_watch.png');
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.jumbotron .content {
  padding: 50px 0;
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}


.jumbotron .content h1 {
  font-family: 'Roboto', sans-serif;
}

.jumbotron .actions {
  margin: 40px auto;
  display: flex;
  width: 40%;
  color: #ffffff;
  justify-content: space-around;
}

.partners {
  display: flex;
  justify-content: space-around;
  background: #000000;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.7rem;
}

.jumbotron .actions button:hover {
  background:rgb(157, 158, 157);
  /* color: #ad0244; */
}

.inStockSection {
  text-align: center;
}

.inStockSection .content {
  padding: 0 300px;
}

.inStockSection h1 {
  text-align: center;
  padding: 0 100px;
  font-family: 'Roboto', sans-serif;
}

.inStockSection hr {
  margin-top: 30px;
  padding: 0 60px;
}

.inStockSection .inStockImg {
  display: flex;
  justify-content: space-evenly;
}

.inStockImgContent {
  position: relative;
  /* opacity: 0.8; */
  overflow: hidden;
  padding: 40px 0;
  transition: transform .2s ease-in-out;
}

.inStockImgContent:hover {
  transform: scale(1.02);
} 

.text {
  font-size: 1.3rem;
  color: #fffefe;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 40%;
  cursor: pointer;
}

.jumbotron_two_high_performance {
  width: 100%;
  background-image: url('/images/watches/analog_watch/jumbotron_two_high_performance.png');
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
  padding: 50px 0 0 0;
}

.boostedSmartWatchSection {
  margin-top: 30px;
}

.boostedSmartWatch {
  display: flex;
  justify-content: space-evenly;
}


.boostedSmartWatch .content {
  width:20%;
  padding: 0 20px;
}

@media(max-width:860px) {
  .jumbotron {
    background: url('/images/watches/analog_watch/jumbotron_two_high_performance.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
  } 

  .jumbotron .content {
    padding: 50px 0 0 0;
  }

  .jumbotron .actions {
    width: 100%;
    flex-wrap: wrap;
  }

  .partners {
    font-size: 1rem;
  }

  .inStockSection .content {
    padding: 5px;
  }

  .inStockSection .inStockImg {
    flex-wrap: wrap;
  }

  .boostedSmartWatch {
    flex-wrap: wrap;
  }

  .boostedSmartWatch .content{
    padding:0 20px;
    width:100%;
  }
}

@media(max-width:600px) {
  .jumbotron {
    background: url('/images/watches/analog_watch/tyler-clemmensen-WCbHuYngg44-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .jumbotron .actions button {
    margin-left: 0;
  }
}
